html{
  text-align: center;
  background: linear-gradient(40deg, #4e8196, #17749c, #432fa8);
  height: 100vh;
}

.calculator{
  margin: 10em auto 0 auto;
  width: 300px;
  height: 430px;
  border: solid 1px black;
  padding: 5px;
  background: linear-gradient(35deg,#5f5d61, #7f7c82, #59565c);
  border-radius: 3px;
  box-shadow: 2px -2px 5px black;
}

#buttons{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.btn{
  background-color: aliceblue;
}


#clear{
  grid-column: 1/ span 2;
  background-color: #87072b;
  color: aliceblue;
}

#zero{
  grid-column: 1/ span 2;
}

#equals{
  grid-row: 4/ span 2;
  grid-column: 4;
  background-color: #1c0787;
  color: aliceblue;
  font-weight: bold;
}

.calc{
  background-color: #86b5c5;
  font-weight: bold;
}

.btn{
  font-size: 1.5rem;
  padding: 15px;
}

#current-calc, #display{
  height: 20px;
  background-color: #242b2e96;
  margin: 7px auto;
  font-size: 1.2rem;
  color: aliceblue;
  text-align: end;
  padding: 15px;
}